<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { controller: "form-validation", action: "submit->form-validation#validate" } }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email", data: { form_validation_target: "email" } %></p>
    <p class="error" data-form-validation-target="emailError" style="display: none; color: red;"></p>
  </div>

  <div class="field">
    <p><%= f.label :password %></p>
    <% if @minimum_password_length %>
      <p><em>(<%= @minimum_password_length %> characters minimum)</em></p>
    <% end %>
    <p><%= f.password_field :password, autocomplete: "new-password", data: { form_validation_target: "password" } %></p>
    <p class="error" data-form-validation-target="passwordError" style="display: none; color: red;"></p>
  </div>

  <div class="field">
    <p><%= f.label :password_confirmation %></p>
    <p><%= f.password_field :password_confirmation, autocomplete: "new-password", data: { form_validation_target: "passwordConfirmation" } %></p>
    <p class="error" data-form-validation-target="passwordConfirmationError" style="display: none; color: red;"></p>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
